<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/llloaoo.css">
    <title>CoronaTracker</title>
</head>
<body>
  <div class="center" >
    <h1><img src="/static/in.png" width="80"> India Overview on Covid-19</h1>   
  </div>
  <marquee>
    <br>
    <br>
    For Registration of vaccine processed to this website <a href="https://www.cowin.gov.in/home">"https://www.cowin.gov.in/home"</a> Vaccines made in india are safe and effective so please trust vaccine <br>
    second phase of vaccination has started in india from March 01 2021 and it now eligable for common people whose age is above 45 years.
    </marquee>
   <div class="container">
    <div class="jumbotron">
    <div class="row">
      <h1 text-align='center'>Covid-19 India Dash-board</h1>
<a href="indez.html" class="btn btn-primary cen">Covid-19 Cases</a>
<a href="https://www.mohfw.gov.in/covid_vaccination/vaccination/index.html#:~:text=The%20COVID%20vaccine%20was%20launched,years%20with%20comorbid%20conditions." class="btn btn-primary cen">Vacanation-Details</a>

<br>
<br>

      <table>
        <tr>


          <th><h4>{{samples}}</h4>
            <h4>Total samples tested</h4>
          </th>

          <th><h4>{{ason}}</h4>
            <h4>Samples tested Yesterday</h4>
          </th>


          <th><h4>{{confirme}}</h4>
            <h4>Confirmed</h4>

          </th>
          <th><h4>{{revd}}</h4>
            <h4>Recovered</h4>

          </th>
          <th><h4>97%</h4>
            <h4>Recovery-Rate</h4>

          </th>
          </tr>
      </table>
    </div>
  </div>
</div>




  
<div class="col-lg-4">
  <h2>Prevention</h2>
<br>

<div class="center">
<p><img src="/static/mask.png" width="200"></p>
<br>
<br>
<li>Wear a mask.Save lives</li>
<li> Wear a face cover</li>
<li>Wash your hands</li>
<li>Keep a safe distance</li>
</div>
 </div>



<div class="col-lg-4">
<h2>Symptoms</h2>
<br>
<ul class="a">
Example of unordered lists:

<li>Coffee</li>
<li>Tea</li>
<li>Coca Cola</li>
</ul>

<ul class="a">Less common symptoms
<li>aches and pains</li>
<li>sore throat</li>
<li>diarrhoea</li>
<li>conjunctivitis</li>
<li>headache</li>
</ul>


<ul class="a">Serious symptoms:
<li>difficulty breathing or shortness of breath</li>
<li>chest pain or pressure</li>
<li>loss of speech or movement</li>
</div>
</div>
  </div>









  <div class="col-lg-4">
    <h2>Treatments</h2>
    <h3>Self-care</h3>
    <br>
    <ul>
    <li>Call your health care provider or COVID-19 hotline to find out where and when to get a test.</li>
   <li> Cooperate with contact-tracing procedures to stop the spread of the virus.</li>
    <li>If testing is not available, stay home and away from others for 14 days.</li>
    <li> While you are in quarantine, do not go to work, to school or to public places. Ask someone to bring you supplies.</li>
      <li>Keep at least a 1-metre distance from others, even from your family members.</li>
        <li>Wear a medical mask to protect others, including if/when you need to seek medical care.</li>
          <li>Clean your hands frequently.</li>
    </ul>
  </div>
  </div>
      </div>   


    
</body>
</html>